.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Parameters {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 420px;
  padding: 10px;
}

.NumberInput {
  width: 40px;
  margin: 0px 5px;
  padding: 2px;
}

.button {
  width: 200px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
}
