.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Parameters {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 420px;
  padding: 10px;
  height: auto;
}

.divider {
  border: 1px solid gray;
  width: 100%;
}

.NumberInput {
  width: 40px;
  margin: 0px 5px;
  padding: 2px;
}

.button {
  width: 200px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
}

.green {
  background-color: #7ee892;
}

.red {
  background-color: #e87e7e;
}

.button:disabled {
  background-color: #efefef;
  cursor: not-allowed;
}
